html,body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

.mdi {
  font-size: 22px;
  margin-right: 5px;
}

.container {
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.start-block, .finish-block {
  display: none;
  width: 700px;
  height: 350px;
  border-radius: 10px;
  border: 2px solid #3498db;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.start-block__caption, .finish-block__caption {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  color: #5c5c5c;
}

.start-block__button, .finish-block__replay {
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #3498db;
  color: #3498db;
  border-radius: 0.6em;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.start-block__button:hover, .finish-block__replay:hover {
  box-shadow: 0 0 40px 40px #3498db inset;
  color: #fff;
}

.content {
  display: none;
  justify-content: space-between;
  max-width: 780px;
  width: 100%;
  margin: auto;
  padding: 30px 45px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #3498db;
}

.active-block {
  display: flex;
}

.content__statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
}

.content__text {
  font-size: 21px;
  margin-right: 45px;
  line-height: 32px;
  cursor: default;
}

.content__statistics-caption {
  display: flex;
  align-items: center;
  color: #b5bbc2;
  font-size: 12px;
}

.content__statistics_value {
  font-size: 12px;
  color: #67defd;
}

.content__statistics_value span {
  margin-right: 3px;
  font-size: 32px;
}

.content__statistics-replay {
  text-decoration: none;
  color: #a6cc2b;
}

.content__statistics-replay:hover>.mdi-refresh {
  transform: rotateZ(360deg);
}

.mdi-refresh {
  transition: all 400ms ease-in-out 0s;
}

.passed-text {
  color: #5bc538;
}

.tgreen, .tred {
  background-color: #5bc538;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
}

.tred {
  background-color: #F36747;
}

.finish-block__text {
  font-size: 21px;
  line-height: 32px;
  margin-top: 0;
  color: #5c5c5c;
}

.finish-block__text span {
  font-size: 32px;
}

@keyframes preloader_container {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}

.preloader_container div {
  box-sizing: border-box!important
}

.preloader_container > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #32a0da transparent #32a0da transparent;
  animation: preloader_container 1.25s linear infinite;
}

.preloader_container > div:nth-child(2), .preloader_container > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: preloader_container 1.25s linear infinite reverse;
}

.preloader_container > div:nth-child(2) {
  border-color: transparent #7fbb42 transparent #7fbb42
}

.preloader_container > div:nth-child(3) {
  border-color: transparent
}

.preloader_container > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.preloader_container > div:nth-child(3) div:before, .preloader_container > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #32a0da;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #32a0da;
}

.preloader_container > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #32a0da;
}

.preloader_container > div:nth-child(4) {
  border-color: transparent;
}

.preloader_container > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.preloader_container > div:nth-child(4) div:before, .preloader_container > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #7fbb42;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #7fbb42;
}

.preloader_container > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #7fbb42;
}

.preloader {
  width: 200px;
  height: 200px;
  display: block;
  overflow: hidden;
  margin: auto;
}

.preloader_container {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.preloader_container div {
  box-sizing: content-box;
}